.about-hero {
  background-color: var(--modal-color);

  &__conatiner {
    @include flex-all-sb;
    padding: 100px 0;
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    color: var(--text-color);
  }
}

.shop-hero {
  background-color: var(--modal-color);

  &__conatiner {
    @include flex-all-sb;
    padding: 100px 0 180px 0;
  }

  &__title {
    font-weight: 800;
    font-size: 40px;
    color: var(--text-color);
  }
}
