.featured-product {
  background-color: var(--light-color);
  margin-top: 80px;
  padding-bottom: 80px;

  &__container {
    overflow: hidden;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    &::after {
      position: absolute;

    }

    &:hover {
      cursor: pointer;
      transition: background-color 0.4s;
      background-color: var(--halfmain-color);
    }

    .product__img {
      padding: 40px 0;
      // width: 54%;
    }
  }

  .swiper {
    padding: 100px;
    margin: -100px
  }
}
