.footer {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap row;
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__logo {
    width: 195px;
    height: 64px;
    display: block;
    margin-bottom: 20px;
    background-image: url('../img/contrast_logo_transperent.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__address {
    width: 34%;
  }

  &__media {
    width: 24%;
  }

  &__nav {
    width: 16%;
  }

  &__gallery {
    width: 25%;
  }

  &__nav-title {
    margin: 0;
    font-size: 18px;
    padding-bottom: 23px;
    color: var(--color-metall);
  }

  &__title {
    margin: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    color: var(--color-metall);
  }

  &__contact {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
    color: var(--color-metall);
    line-height: 23px;

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__link {
    position: relative;
    color: var(--color-metall);

    &:not(:last-child) {
      margin-bottom: 3px;
    }
  }

  &__copyright {
    display: block;
    padding: 20px 0px;
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF12;
    border-width: 1px 0px 0px 0px;
    color: var(--color-metall);

    small {
      font-size: 14px;
      font-weight: 400;
    }

  }
}

.map-icon {
  &::before {
    position: absolute;
    top: 0px;
    left: -18px;
    font: var(--fa-font-solid);
    content: "\f59f";
    color: var(--color-metall);
  }
}

.tel-icon {
  &::before {
    position: absolute;
    top: 2px;
    left: -37px;
    font: var(--fa-font-solid);
    content: "\f095";
    color: var(--color-metall);
  }
}

.email-icon {
  &::before {
    position: absolute;
    top: 2px;
    left: -37px;
    font: var(--fa-font-solid);
    content: "\f0e0";
    color: var(--color-metall);
  }
}

.footer-nav {
  &__link {
    cursor: pointer;
    color: var(--color-metall);
    font-size: 15px;
    font-weight: 300;
    line-height: 23px;
    transition: 0.5s color ease-in-out;

    &:hover {
      color: var(--main-color);
      transition: 0.5s color ease-in-out;
    }

    &_active {
      position: relative;

      &::before {
        position: absolute;
        content: "\BB";
        left: -16px;
        font-size: 24px;
        color: var(--main-color);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.media {
  &__title {
    margin: 0;
    font-size: 18px;
    padding-bottom: 25px;
    color: var(--color-metall);
  }

  &__link {
    font-size: 15px;
    font-weight: 300;
    color: var(--color-metall);
    transition: 0.5s color ease-in-out;

    &:hover {
      color: var(--main-color);
      transition: 0.5s color ease-in-out;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}

.gallery {
  &__title {
    margin: 0;
    font-size: 18px;
    padding-bottom: 25px;
    color: var(--color-metall);
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 65px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 15px;
  }

  &__item {
    position: relative;
    width: 65px;
    height: 65px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }

  &__link {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
