.hero {
  // position: relative;
  padding-top: 100px;
  padding-bottom: 180px;
  background-image: url("../img/chip-technology.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  // background-size: 33% auto;
  // background-position: right;

  // &::before {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   content: "";
  //   background-image: url("../img/chip-technology.jpg");
  //   background-repeat: no-repeat;
  //   background-size: 63% auto;
  //   background-position: right;
  // }

  &__container {
    @include flex-h-center;
  }

  &__element {
    padding: 40px 30px 40px 30px;
    border-radius: 5px;
    width: 500px;
    color: var(--text-color);
    background-color: var(--light-color);
    z-index: 10;
  }

  &__space {
    width: 50%;
  }
}

.element {

  &__title {
    font-size: 40px;
    font-weight: 800;
  }

  &__about {
    margin: 0;
    margin-bottom: 20px;
    padding: 0% 10% 0% 0%;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-grey);
  }

  &__button:hover .move-right {
    transition: all 0.2s ease;
    animation-name: move-reverse;
    animation-direction: alternate;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;

  }
}
