.speak-gallery {
  background-color: var(--modal-color);
  padding: 100px 0;

  &__text,
  &__name,
  &__prof {

    text-align: center;
    margin: 0;
  }

  &__text {

    &_padding {
      padding: 40px !important;
    }

    color: var(--text-grey);
    font-weight: 400;
    font-size: 14px;
    font-style: italic;
    line-height: 23px;
  }

  &__name {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }

  &__prof {
    color: var(--text-grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
  }

}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}
