<section class="choose-us">
  <div class="choose-us__picture">
    <img src="/img/mans company.jpg" alt="" class="choose-us__image" loading="lazy">
  </div>
    <div class="choose-us__information">
      <h2 class="choose-us__title title">Почему нас выбирают&nbsp;:</h2>
      <p class="choose-us__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
         luctus nec ullamcorper mattis, pulvinar dapibus leo.</p>
      <ul class="choose-us__list list-reset">
        <li class="choose-us__point choose-us__point-quality">Контроль качества</li>
        <li class="choose-us__point choose-us__point-original">Оригинальная продукция</li>
        <li class="choose-us__point choose-us__point-services">Бесплатный сервис</li>
        <li class="choose-us__point choose-us__point-delivery">Быстрая доставка</li>
      </ul>
    </div>
</section>
