<section class="el-store">
  <div class="el-store__wrapper container">
    <div class="el-store__info">
      <h2 class="el-store__title title">Магазин Электротоваров</h2>
      <p class="el-store__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis,
         pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus,
          luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <a href="#" class="el-store__button btn-reset btn">в магазин&nbsp;<i class="move-right fa-move-right fa-solid fa-arrow-right"></i></a>
    </div>
    <div class="el-store__progressbar progressbar">
      <ul class="progressbar__list list-reset">
        <li class="progressbar__item">
          <p class="progressbar__text">На складе сейчас </p>
          <div class="progressbar__line stock" data-layout="line" data-couny="90" data-duration="1500">
            <span class="progressbar__count">
              <span class="progressbar__number">90%</span>
            </span>
            <span class="progressbar__fill"></span>
          </div>
        </li>
        <li class="progressbar__item">
          <p class="progressbar__text">Безопасность упаковки </p>
           <div class="progressbar__line safety" data-layout="line" data-couny="98" data-duration="1500">
            <span class="progressbar__count">
              <span class="progressbar__number">98%</span>
            </span>
            <span class="progressbar__fill"></span>
           </div>
        </li>
        <li class="progressbar__item">
          <p class="progressbar__text">Наш рейтинг </p>
           <div class="progressbar__line rating" data-layout="line" data-couny="75" data-duration="1500">
            <span class="progressbar__count">
              <span class="progressbar__number">75%</span>
            </span>
            <span class="progressbar__fill"></span>
           </div>
        </li>
        <li class="progressbar__item">
          <p class="progressbar__text">Распродано </p>
          <div class="progressbar__line saling" data-layout="line" data-couny="85" data-duration="1500">
            <span class="progressbar__count">
              <span class="progressbar__number">85%</span>
            </span>
            <span class="progressbar__fill"></span>
          </div>
        </li>
      </ul>
    </div>
  <!-- </div> -->
  <div class="el-store__video video-block">
    <button class="btn-reset video-block__play" aria-label="Play video">
      <svg>
        <use xlink:href="img/sprite.svg#play-button-arrows"></use>
      </svg>
    </button>
    <button class="btn-reset video-block__muted" aria-label="Mute video">
      <svg>
        <use xlink:href="img/sprite.svg#mute"></use>
      </svg>
    </button>
    <video src="video/CircuitBoardFinal.mp4" class="video-block__content" muted loop preload="metadata"></video>
  </div>
</div>
</section>
