<section class="featured-product">
  <div class="container featured-product__container">
    <h2 class="featured-product__title title">Рекомендуемые товары</h2>
    <div class="swiper swiper-featured">
      <ul class="swiper-wrapper list-reset featured-product__list">
        <li class="swiper-slide featured-product__item product">
           <img src="img/controller-clava.jpg" alt="объект" class="product__img">
        </li>
        <li class="swiper-slide featured-product__item product">
           <img src="img/intellect_light_png.png" alt="объект" class="product__img">
        </li>
        <li class="swiper-slide featured-product__item product">
           <img src="img/product-electric.png" alt="объект" class="product__img">
        </li>
        <li class="swiper-slide featured-product__item product">
           <img src="img/product-lamp.png" alt="объект" class="product__img">
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>

</section>
