<footer class="footer">
  <div class="footer__container container ">
    <div class="footer__address">
      <a href="/" class="footer__logo"></a>
      <h2 class="footer__title">Мы Работаем Для Вас!</h2>
      <ul class="footer__contacts-list list-reset">
        <li class="footer__contact footer__contact-map"><i class="map-icon"></i>ООО "Контраст г.Санкт-Петербург</li>
        <li class="footer__contact footer__contact-tel">
          <a href="tel:89052216144" class="footer__link telefone"><i class="tel-icon"></i>+7(905)22-16-144</a><br>
          <a href="tel:88129438209" class="footer__link telefone"><i class="tel-icon"></i>(812)943-82-09</a>
        </li>
        <li class="footer__contact footer__contact-email">
          <a href="mailto:contrast-spb@inbox.ru" class="footer__link email"><i class="email-icon"></i>contrast-spb@inbox.ru</a>
        </li>
      </ul>
    </div>
    <div class="footer__media media">
      <h3 class="media__title">Присоединяйтесь к нам</h3>
      <ul class="media__list list-reset">
        <li class="media__item">
          <a href="#" class="media__link">vkontakte</a>
        </li>
        <li class="media__item">
          <a href="#" class="media__link">telegram</a>
        </li>
      </ul>
    </div>
    <div class="footer__nav">
      <h5 class="footer__nav-title">Меню</h5>
      <ul class="footer-nav list-reset">
        <li class="footer-nav__item"><a href="#" class="footer-nav__link footer-nav__link_active">Главная</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">О нас</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Магазин</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Страницы</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Блог</a></li>
        <li class="footer-nav__item"><a href="#" class="footer-nav__link">Контакты</a></li>
      </ul>
    </div>
    <div class="footer__gallery gallery">
      <h5 class="gallery__title">Галлерея</h5>
      <ul class="gallery__list list-reset">
        <li class="gallery__item"><a href="#" class="gallery__link"></a></li>
        <li class="gallery__item"><a href="#" class="gallery__link"></a></li>
        <li class="gallery__item"><a href="#" class="gallery__link"></a></li>
        <li class="gallery__item"><a href="#" class="gallery__link"></a></li>
        <li class="gallery__item"><a href="#" class="gallery__link"></a></li>
        <li class="gallery__item"><a href="#" class="gallery__link"></a></li>

      </ul>
    </div>
  </div>
  <div class="footer__copyright">
    <div class="container">
      <small>&copy;&nbsp;All rights reserved. Made with <span>by EH.AG Studio</span></small>
    </div>
  </div>
</footer>
<div class="overlay"></div>
