<section class="hero">
    <div class="container hero__container">
      <div class="hero__element element">
        <p class="element__text title">Оригинально и Качественно</p>
        <h1 class="element__title">Промышленная электроника</h1>
        <p class="element__about">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam totam laborum optio doloribus, praesentium magni.</p>
        <a href="#" class="element__button btn-reset btn ">в магазин&nbsp;<i class="move-right fa-move-right fa-solid fa-arrow-right"></i></a>
      </div>
      <div class="hero__space"></div>
    </div>
</section>
