<section class="new-product">
  <div class="container">
    <h2 class="new-product__title title">Новая продукция</h2>

  <div class="new-product__container">
    <ul class="new-product__products list-reset">
      <li class="product product-TRPS122 ">
        <img src="img/TRPS122-const-voltage.jpg" alt="объект" class="product__img">
        <span class="product__flag">Sale!</span>
        <button class="product__link btn-reset"></button>
        <a href="#" class="product__link"></a>
        <div class="product__details">
          <div class="product__rating">
            <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
          </div>
          <h3 class="product__title">Преобразотватель постоянного напряжения</h3>
          <p class="product__price">
            <span class="product__old-price"><strike>P32.00</strike></span>
            <u>P11.00</u>
          </p>
        </div>
      </li>
      <li class="product product-TRPS124">
        <img src="img/TRPS124-640h.jpg" alt="объект" class="product__img">
        <span class="product__flag">Sale!</span>
        <button class="product__link btn-reset"></button>
        <a href="#" class="product__link"></a>
        <div class="product__details">
          <div class="product__rating">
            <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
          </div>
          <h3 class="product__title">Токовый разветвитель-преобразователь</h3>
          <p class="product__price">
            <span class="product__old-price"><strike>P124.00</strike></span>
            <u>P111.00</u>
          </p>
        </div>
      </li>
      <li class="product product-assembly">
        <img src="img/Assembly.jpg" alt="объект" class="product__img">
        <span class="product__flag">Sale!</span>
        <button class="product__link btn-reset"></button>
        <a href="#" class="product__link"></a>
        <div class="product__details">
          <div class="product__rating">
            <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
          </div>
          <h3 class="product__title">Токовый разветвитель-преобразователь</h3>
          <p class="product__price">
            <span class="product__old-price"><strike>P124.00</strike></span>
            <u>P111.00</u>
          </p>
        </div>
      </li>
      <li class="product product-potentiomentr">
        <img src="img/R-DIN-potentiometr.jpg" alt="объект" class="product__img">
        <span class="product__flag">Sale!</span>
        <button class="product__link btn-reset"></button>
        <a href="#" class="product__link"></a>
        <div class="product__details">
          <div class="product__rating">
            <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
          </div>
          <h3 class="product__title">Потенциометр в корпусе на DIN рейку</h3>
          <p class="product__price">
            <span class="product__old-price"><strike>P124.00</strike></span>
            <u>P111.00</u>
          </p>
        </div>
      </li>
    </ul>
    <div class="phase-test">
      <div class="phase-test__wrap">
        <h3 class="phase-test__title title">Продукт прошел этап тестирования</h3>
        <p class="phase-test__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
           Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <ul class="phase-test__checklist list-reset">
          <li class="phase-test__check"><i class="check-mark"></i>Dolor sit</li>
          <li class="phase-test__check"><i class="check-mark"></i>Luctus Nec</li>
          <li class="phase-test__check"><i class="check-mark"></i>Dapibus Leo</li>
          <li class="phase-test__check"><i class="check-mark"></i>Ullamcorpe</li>
          <li class="phase-test__check"><i class="check-mark"></i>Ipsum Elit</li>
          <li class="phase-test__check"><i class="check-mark"></i>Pulvinar Ut</li>
          <li class="phase-test__check"><i class="check-mark"></i>Adipiscing</li>
          <li class="phase-test__check"><i class="check-mark"></i>Amet Amet</li>
        </ul>
        <a href="#" class="phase-test__button btn-reset btn">в магазин&nbsp;
          <i class="move-right fa-solid fa-arrow-right" ></i>
        </a>
      </div>

    </div>
  </div>
</div>
</section>
