<section class="odds">
  <div class="odds__container container">
    <ul class="odds__list list-reset">
      <li class="odds__item odds__item--delivery">
        <h3 class="odds__title">Бесплатная доставка</h3>
        <p class="odds__text">Lorem ipsum dolor sit amet, consectetur</p>
      </li>
      <li class="odds__item odds__item--package">
        <h3 class="odds__title">Сохранность упаковки</h3>
        <p class="odds__text">Lorem ipsum dolor sit amet, consectetur</p>
      </li>
      <li class="odds__item odds__item--safety">
        <h3 class="odds__title">Защита платежа</h3>
        <p class="odds__text">Lorem ipsum dolor sit amet, consectetur</p>
      </li>
      <li class="odds__item odds__item--support">
        <h3 class="odds__title">Бесплатная поддержка</h3>
        <p class="odds__text">Lorem ipsum dolor sit amet, consectetur</p>
      </li>
    </ul>
  </div>
</section>
