<section class="online-shop">
  <div class="online-shop__container container">
    <div class="online-shop__about-us">
      <h2 class="online-shop__title title">Познакомтесь с нашим интернет-магазином</h2>
      <p class="online-shop__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <p class="online-shop__paragraph-text">
        Pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
      </p>
      <p class="online-shop__text">
        *Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="online-shop__image">
      <div class="online-shop__lamp">
        <img src="/img/product-lamp.png" alt="lamp" class="online-shop__lamp-img">
      </div>
    </div>
  </div>
</section>
