<section class="speak-gallery">
  <div class="speak-gallery__container container">
    <div class="swiper swiper-speak-gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <p class="speak-gallery__text speak-gallery__text_padding">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
          </p>
          <p class="speak-gallery__name">Сергей</p>
          <p class="speak-gallery__prof">Директор</p>
        </div>
        <div class="swiper-slide">
          <p class="speak-gallery__text speak-gallery__text_padding">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <p class="speak-gallery__name">Леонид</p>
        <p class="speak-gallery__prof">Менеджер</p>
        </div>
        <div class="swiper-slide">
          <p class="speak-gallery__text speak-gallery__text_padding">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
        </p>
        <p class="speak-gallery__name">Павел</p>
        <p class="speak-gallery__prof">Инженер</p>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      </div>
  </div>
</section>
