<section class="weekly-sale">
  <div class="weekly-sale__container container">
    <div class="sale-info">
      <h2 class="sale-info__title title">Скидки!</h2>
    </div>
    <div class="commerce">
      <ul class="weekly-sale__products list-reset">
        <li class="product product-DIN35">
          <img src="img/2R_DIN35.jpg" alt="объект" class="product__img">
          <span class="product__flag">Sale!</span>
          <button class="product__link btn-reset"></button>
          <a href="#" class="product__link"></a>
          <div class="product__details">
            <div class="product__rating">
              <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
            </div>
            <h3 class="product__title">Потенциометры на рейку DIN35</h3>
            <p class="product__price">
              <span class="product__old-price"><strike>P44.00</strike></span>
              <u>P11.00</u>
            </p>
          </div>
        </li>
        <li class="product product-RTT">
          <img src="img/RTT.jpg" alt="объект" class="product__img">
          <span class="product__flag">Sale!</span>
          <button class="product__link btn-reset"></button>
          <a href="#" class="product__link"></a>
          <div class="product__details">
            <div class="product__rating">
              <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
            </div>
            <h3 class="product__title">Регулятор тиристорный трехфазный</h3>
            <p class="product__price">
              <span class="product__old-price"><strike>P44.00</strike></span>
              <u>P11.00</u>
            </p>
          </div>
        </li>
        <li class="product product-TRPS123">
          <img src="img/TRPS123.jpg" alt="объект" class="product__img">
          <button class="product__link btn-reset"></button>
          <span class="product__flag">Sale!</span>
          <a href="#" class="product__link"></a>
          <div class="product__details">
            <div class="product__rating">
              <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
            </div>
            <h3 class="product__title">Преобразователь 4-20 мА ТРПС 1-2-3</h3>
            <p class="product__price">
              <span class="product__old-price"><strike>P44.00</strike></span>
              <u>P11.00</u>
            </p>
          </div>
        </li>
        <li class="product product-TRPS183">
          <img src="img/TRPS183.jpg" alt="объект" class="product__img">
          <button class="product__link btn-reset"></button>
          <span class="product__flag">Sale!</span>
          <a href="#" class="product__link"></a>
          <div class="product__details">
            <div class="product__rating">
              <span class="product__star-text">Rated<strong>0</strong> out of 5</span>
            </div>
            <h3 class="product__title">ТРПС1-8-3 Преобразователь 4-20 мА</h3>
            <p class="product__price">
              <span class="product__old-price"><strike>P44.00</strike></span>
              <u>P11.00</u>
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
